@import url('variables.css');
@import url('navbar.css');
@import url('reset.css');

html {
    scroll-behavior: smooth;

    font-size: var(--spacing-base);
    font-family: var(--font-oswald);
}

body {
    min-height: 100vh;

    color: var(--color-text);
    background-color: var(--color-background);
}
